head
    meta(
        name='viewport'
        content='width=device-width, initial-scale=1'
    )

    title
        | Aaltonaut Portfolio - Axel Neergaard

    link(
        href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css'
        rel='stylesheet')

    link(
        href='https://fonts.googleapis.com/css?family=Overpass:400,900'
        rel='stylesheet')

    link(
        href='/static/css/index.css'
        rel='stylesheet')

    script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
